{
    "openapi": "3.0.1",
    "info": {
        "title": "HEPS\u0130BURADA - MUHASEBE ENTEGRASYONU",
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://mpfinance-external-sit.hepsiburada.com"
        }
    ],
    "paths": {
        "/transactions/merchantid/{merchantId}": {
            "get": {
                "tags": [
                    "Kay\u0131t Bazl\u0131 Muhasebe Servisi"
                ],
                "summary": "Kay\u0131t Bazl\u0131 Muhasebe Servisi",
                "description": "Servis, \u00f6deme ve faturalar\u0131 listelemenize olanak tan\u0131r...",
                "parameters": [
                    {
                        "name": "merchantId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "Offset",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "Limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "TransactionTypes",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "Status",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "OrderNumber",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "PackageNumber",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "ReferenceDocument",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "Sku",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "DueDateStart",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "DueDateEnd",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "RecordDateStart",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "RecordDateEnd",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "OrderDateStart",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "OrderDateEnd",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "PaymentDateStart",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "PaymentDateEnd",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/InvoicesRecordBasedViewModel"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InvoicesRecordBasedViewModel"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InvoicesRecordBasedViewModel"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/orders/merchantid/{merchantId}": {
            "get": {
                "tags": [
                    "Performans Servisi"
                ],
                "summary": "Performans Servisi",
                "description": "Servis, sipari\u015f ve \u00fcr\u00fcn detay\u0131 baz\u0131nda finansal performans\u0131n listelenmesine olanak tan\u0131r...",
                "parameters": [
                    {
                        "name": "merchantId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "DueDateStart",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "DueDateEnd",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "OrderDateStart",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "OrderDateEnd",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                        }
                    },
                    {
                        "name": "Offset",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "Limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "OrderNumber",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "Sku",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/InvoicesOrderBasedViewModel"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InvoicesOrderBasedViewModel"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InvoicesOrderBasedViewModel"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ProblemDetails": {
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "nullable": true
                    },
                    "title": {
                        "type": "string",
                        "nullable": true
                    },
                    "status": {
                        "type": "integer",
                        "format": "int32",
                        "nullable": true
                    },
                    "detail": {
                        "type": "string",
                        "nullable": true
                    },
                    "instance": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": {}
            },
            "Money": {
                "type": "object",
                "properties": {
                    "value": {
                        "type": "number",
                        "format": "double",
                        "readOnly": true
                    },
                    "currencyCode": {
                        "type": "string",
                        "nullable": true,
                        "readOnly": true
                    }
                },
                "additionalProperties": false
            },
            "InvoicesRecordBasedItemsViewModel": {
                "type": "object",
                "properties": {
                    "transactionType": {
                        "type": "string",
                        "nullable": true
                    },
                    "status": {
                        "type": "string",
                        "nullable": true
                    },
                    "sku": {
                        "type": "string",
                        "nullable": true
                    },
                    "packageNumber": {
                        "type": "string",
                        "nullable": true
                    },
                    "orderNumber": {
                        "type": "string",
                        "nullable": true
                    },
                    "invoiceNumber": {
                        "type": "string",
                        "nullable": true
                    },
                    "orderItemNumber": {
                        "type": "string",
                        "nullable": true
                    },
                    "quantity": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "amount": {
                        "$ref": "#/components/schemas/Money"
                    },
                    "taxAmount": {
                        "$ref": "#/components/schemas/Money"
                    },
                    "netAmount": {
                        "$ref": "#/components/schemas/Money"
                    },
                    "orderDate": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "invoiceDate": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "dueDate": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "paymentDate": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "invoiceExplanation": {
                        "type": "string",
                        "nullable": true
                    },
                    "merchantId": {
                        "type": "string",
                        "nullable": true
                    },
                    "isInvoice": {
                        "type": "boolean"
                    },
                    "isIncome": {
                        "type": "boolean"
                    },
                    "transactionTypeCategory": {
                        "type": "string",
                        "nullable": true
                    },
                    "productName": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "InvoicesRecordBasedViewModel": {
                "type": "object",
                "properties": {
                    "count": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/InvoicesRecordBasedItemsViewModel"
                        },
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "TransactionTypeAmount": {
                "type": "object",
                "properties": {
                    "transactionType": {
                        "type": "string",
                        "nullable": true
                    },
                    "amount": {
                        "$ref": "#/components/schemas/Money"
                    }
                },
                "additionalProperties": false
            },
            "Income": {
                "type": "object",
                "properties": {
                    "totalAmount": {
                        "$ref": "#/components/schemas/Money"
                    },
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/TransactionTypeAmount"
                        },
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "Expense": {
                "type": "object",
                "properties": {
                    "totalAmount": {
                        "$ref": "#/components/schemas/Money"
                    },
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/TransactionTypeAmount"
                        },
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "InvoicesOrderBasedItemViewModel": {
                "type": "object",
                "properties": {
                    "orderNumber": {
                        "type": "string",
                        "nullable": true
                    },
                    "merchantId": {
                        "type": "string",
                        "nullable": true
                    },
                    "orderDate": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "sku": {
                        "type": "string",
                        "nullable": true
                    },
                    "productName": {
                        "type": "string",
                        "nullable": true
                    },
                    "invoiceDate": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "dueDate": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "allowanceAmount": {
                        "$ref": "#/components/schemas/Money"
                    },
                    "quantity": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "unitAmount": {
                        "$ref": "#/components/schemas/Money"
                    },
                    "income": {
                        "$ref": "#/components/schemas/Income"
                    },
                    "expense": {
                        "$ref": "#/components/schemas/Expense"
                    }
                },
                "additionalProperties": false
            },
            "InvoicesOrderBasedViewModel": {
                "type": "object",
                "properties": {
                    "totalCount": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/InvoicesOrderBasedItemViewModel"
                        },
                        "nullable": true
                    }
                },
                "additionalProperties": false
            }
        },
        "securitySchemes": {
            "basic": {
                "type": "http",
                "description": "Basic Authorization",
                "scheme": "basic"
            }
        }
    },
    "security": [
        {
            "basic": []
        }
    ]
}
