{
    "openapi": "3.0.1",
    "info": {
        "title": "HEPS\u0130BURADA - TEDAR\u0130K\u00c7\u0130 ENTEGRASYONU",
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://supplier-api-external-sit.hepsiburada.com"
        }
    ],
    "paths": {
        "/suppliers/{merchantId}/listingUpdateRequests": {
            "post": {
                "tags": [
                    "Envanter Entegrasyonu"
                ],
                "summary": "Teklif Olu\u015fturma",
                "description": "Bu metod \u00fcr\u00fcnlerinizin stok, fiyat ve tedarik\u00e7i stok bilgileri i\u00e7in teklif iletmenize olanak tan\u0131r.",
                "operationId": "Teklif Olu\u015fturma",
                "parameters": [
                    {
                        "name": "merchantId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "User-Agent",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/AddListingUpdateRequestCommand"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AddListingUpdateRequestCommand"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AddListingUpdateRequestCommand"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/AddListingUpdateRequestCommand"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/GuidIdResultApiResponse"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GuidIdResultApiResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GuidIdResultApiResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/suppliers/{merchantId}/listingUpdateRequests/search": {
            "post": {
                "tags": [
                    "Envanter Entegrasyonu"
                ],
                "summary": "Teklifleri Listeleme",
                "description": "Bu metod tekliflerinizi listeleyebilmenize olanak tan\u0131r.",
                "operationId": "Teklifleri Listeleme",
                "parameters": [
                    {
                        "name": "merchantId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "User-Agent",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/GetListingUpdateRequestSearchQuery"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GetListingUpdateRequestSearchQuery"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GetListingUpdateRequestSearchQuery"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/GetListingUpdateRequestSearchQuery"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListingUpdateRequestSearchResponseApiResponse"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListingUpdateRequestSearchResponseApiResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListingUpdateRequestSearchResponseApiResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/suppliers/{merchantId}/listingUpdateRequests/{requestId}": {
            "get": {
                "tags": [
                    "Envanter Entegrasyonu"
                ],
                "summary": "Teklif Detay\u0131 Listeleme",
                "description": "Bu metod bir teklifin detaylar\u0131n\u0131 listeleyebilmenize olanak tan\u0131r.",
                "operationId": "Teklif Detay\u0131 Listeleme",
                "parameters": [
                    {
                        "name": "requestId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "merchantId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "User-Agent",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListingUpdateRequestDetailResponseApiResponse"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListingUpdateRequestDetailResponseApiResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListingUpdateRequestDetailResponseApiResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/suppliers/{merchantId}/openPurchaseOrders/search": {
            "post": {
                "tags": [
                    "Sat\u0131n Alma S\u00fcreci Entegrasyonu"
                ],
                "summary": "A\u00e7\u0131k Sipari\u015fleri Listeleme",
                "description": "Bu metod a\u00e7\u0131k sat\u0131nalma sipari\u015flerinizi listeleyebilmenize olanak tan\u0131r.",
                "operationId": "A\u00e7\u0131k Sipari\u015fleri Listeleme",
                "parameters": [
                    {
                        "name": "merchantId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "User-Agent",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/OpenPurchaseOrderSearchQuery"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OpenPurchaseOrderSearchQuery"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OpenPurchaseOrderSearchQuery"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/OpenPurchaseOrderSearchQuery"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/OpenPurchaseOrderResponseApiResponse"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OpenPurchaseOrderResponseApiResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OpenPurchaseOrderResponseApiResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/suppliers/{merchantId}/supplierlistings/search": {
            "post": {
                "tags": [
                    "Envanter Entegrasyonu"
                ],
                "summary": "Envanter Bilgilerini Listeleme",
                "description": "Bu metod envanter bilgilerinizi listeleyebilmenize olanak tan\u0131r.",
                "operationId": "Envanter Bilgilerini Listeleme",
                "parameters": [
                    {
                        "name": "merchantId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "User-Agent",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/GetSupplierListingsSearchQuery"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GetSupplierListingsSearchQuery"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GetSupplierListingsSearchQuery"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/GetSupplierListingsSearchQuery"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/SupplierListingsResponseApiResponse"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SupplierListingsResponseApiResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SupplierListingsResponseApiResponse"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "AddListingUpdateRequestCommand": {
                "type": "object",
                "properties": {
                    "requestItems": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AddListingUpdateRequestItem"
                        },
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "AddListingUpdateRequestItem": {
                "type": "object",
                "properties": {
                    "traceId": {
                        "type": "string",
                        "description": "Teklif yap\u0131lan Sku.",
                        "format": "uuid"
                    },
                    "merchantSku": {
                        "type": "string",
                        "description": "Teklif edilen tedarik\u00e7i stok kodu. Zorunlu de\u011fildir.",
                        "nullable": true
                    },
                    "sku": {
                        "type": "string",
                        "description": "Teklif yap\u0131lan Sku.",
                        "nullable": true
                    },
                    "price": {
                        "type": "number",
                        "description": "Teklif edilen fiyat. Zorunlu de\u011fildir.",
                        "format": "double",
                        "nullable": true
                    },
                    "stock": {
                        "type": "integer",
                        "description": "Teklif edilen stok. Zorunlu de\u011fildir.",
                        "format": "int32",
                        "nullable": true
                    },
                    "currencyCode": {
                        "type": "string",
                        "description": "Teklif edilen fiyat\u0131n para birimi. Fiyat girildiyse zorunludur. Alabilece\u011fi de\u011ferler (TRY,USD,EUR)",
                        "nullable": true
                    },
                    "salable": {
                        "type": "boolean",
                        "description": "\u00dcr\u00fcn i\u00e7in teklif edece\u011finiz sat\u0131\u015f durumu bilgisidir. Zorunlu de\u011fildir.",
                        "nullable": true
                    },
                    "unitPerPackage": {
                        "type": "integer",
                        "description": "\u00dcr\u00fcne ait koli i\u00e7i adet bilgisidir.",
                        "format": "int32",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "ApprovalStatus": {
                "enum": [
                    "Processing",
                    "Approved",
                    "Rejected",
                    "Accepted"
                ],
                "type": "string"
            },
            "CurrencyCode": {
                "enum": [
                    "None",
                    "AUD",
                    "JPY",
                    "CHF",
                    "GBP",
                    "USD",
                    "TRY",
                    "EUR"
                ],
                "type": "string"
            },
            "GetListingUpdateRequestSearchQuery": {
                "type": "object",
                "properties": {
                    "startDate": {
                        "type": "string",
                        "description": "Teklif tarihi ba\u015flang\u0131c\u0131 filtresi. yyyy-MM-dd format\u0131nda. Zorunlu de\u011fildir.",
                        "nullable": true
                    },
                    "endDate": {
                        "type": "string",
                        "description": "Teklif tarihi biti\u015f filtresi. yyyy-MM-dd format\u0131nda. Zorunlu de\u011fildir.",
                        "nullable": true
                    },
                    "limit": {
                        "type": "integer",
                        "description": "Listelenecek maksimum kay\u0131t adedi. Minimum 0, maksimum 1000 olabilir. Zorunlu de\u011fildir",
                        "format": "int32"
                    },
                    "offset": {
                        "type": "integer",
                        "description": "Listelenecek kay\u0131tlar\u0131n ba\u015flang\u0131\u00e7 indeksi. Minimum 0 olabilir. Zorunlu de\u011fildir, null g\u00f6nderildi\u011finde 0 kullan\u0131l\u0131r.",
                        "format": "int32"
                    }
                },
                "additionalProperties": false
            },
            "GetSupplierListingsSearchQuery": {
                "type": "object",
                "properties": {
                    "listingType": {
                        "type": "string",
                        "description": "Sat\u0131\u015f t\u00fcr\u00fc filtresi. Zorunlu de\u011fildir. Alabilece\u011fi de\u011ferler (Normal, DropShipping, Consignee)",
                        "nullable": true
                    },
                    "status": {
                        "type": "string",
                        "description": "\u00dcr\u00fcn durumu filtresi. Zorunlu de\u011fildir. Alabilece\u011fi de\u011ferler (Suspended, Active, Inactive)",
                        "nullable": true
                    },
                    "lastPurchasePriceUpdateStartDate": {
                        "type": "string",
                        "description": "Fiyat de\u011fi\u015fiklik tarihi ba\u015flang\u0131c\u0131 filtresi. 'yyyy-MM-dd' format\u0131nda. Zorunlu de\u011fildir.",
                        "nullable": true
                    },
                    "lastPurchasePriceUpdateEndDate": {
                        "type": "string",
                        "description": "Fiyat de\u011fi\u015fiklik tarihi biti\u015f filtresi. 'yyyy-MM-dd' format\u0131nda. Zorunlu de\u011fildir.",
                        "nullable": true
                    },
                    "searchText": {
                        "type": "string",
                        "description": "Arama alan\u0131. Sku ya da Tedarik\u00e7i stok kodu alanlar\u0131nda arama yapmak i\u00e7in kullan\u0131labilir. Zorunlu de\u011fildir.",
                        "nullable": true
                    },
                    "limit": {
                        "type": "integer",
                        "description": "Listelenecek maksimum kay\u0131t adedi. Minimum 0, maksimum 1000 olabilir. Zorunlu de\u011fildir",
                        "format": "int32"
                    },
                    "offset": {
                        "type": "integer",
                        "description": "Listelenecek kay\u0131tlar\u0131n ba\u015flang\u0131\u00e7 indeksi. Minimum 0 olabilir. Zorunlu de\u011fildir, null g\u00f6nderildi\u011finde 0 kullan\u0131l\u0131r.",
                        "format": "int32"
                    }
                },
                "additionalProperties": false
            },
            "GuidIdResult": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid",
                        "readOnly": true
                    }
                },
                "additionalProperties": false
            },
            "GuidIdResultApiResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/GuidIdResult"
                    },
                    "message": {
                        "type": "string",
                        "nullable": true
                    },
                    "errorCode": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "ListingStatus": {
                "enum": [
                    "Suspended",
                    "Active",
                    "Inactive"
                ],
                "type": "string"
            },
            "ListingType": {
                "enum": [
                    "Normal",
                    "DropShipping",
                    "Consignee"
                ],
                "type": "string"
            },
            "ListingUpdateRequestDetailResponse": {
                "type": "object",
                "properties": {
                    "requestId": {
                        "type": "string",
                        "description": "Teklif id",
                        "format": "uuid",
                        "nullable": true
                    },
                    "requestItems": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ListingUpdateRequestItemResponse"
                        },
                        "nullable": true
                    },
                    "createdDateTime": {
                        "type": "string",
                        "description": "Teklif tarihi, yyyy-MM-dd format\u0131nda",
                        "format": "date-time",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "ListingUpdateRequestDetailResponseApiResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/ListingUpdateRequestDetailResponse"
                    },
                    "message": {
                        "type": "string",
                        "nullable": true
                    },
                    "errorCode": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "ListingUpdateRequestItemResponse": {
                "type": "object",
                "properties": {
                    "sku": {
                        "type": "string",
                        "description": "Teklif yap\u0131lan Sku",
                        "nullable": true
                    },
                    "price": {
                        "type": "number",
                        "description": "Teklif edilen fiyat",
                        "format": "double",
                        "nullable": true
                    },
                    "currencyCode": {
                        "$ref": "#/components/schemas/CurrencyCode"
                    },
                    "stock": {
                        "type": "integer",
                        "description": "Teklif edilen stok",
                        "format": "int32",
                        "nullable": true
                    },
                    "unitPerPackage": {
                        "type": "integer",
                        "description": "\u00dcr\u00fcne ait koli i\u00e7i adet bilgisidir.",
                        "format": "int32",
                        "nullable": true
                    },
                    "priceApprovalStatus": {
                        "$ref": "#/components/schemas/ApprovalStatus"
                    },
                    "priceRejectionReason": {
                        "type": "string",
                        "description": "Fiyat teklifi red sebebi",
                        "nullable": true
                    },
                    "stockApprovalStatus": {
                        "$ref": "#/components/schemas/ApprovalStatus"
                    },
                    "stockRejectionReason": {
                        "type": "string",
                        "description": "Stok teklifi red sebebi",
                        "nullable": true
                    },
                    "unitPerPackageApprovalStatus": {
                        "$ref": "#/components/schemas/ApprovalStatus"
                    },
                    "merchantSku": {
                        "type": "string",
                        "description": "Teklif edilen tedarik\u00e7i stok kodu",
                        "nullable": true
                    },
                    "merchantSkuApprovalStatus": {
                        "$ref": "#/components/schemas/ApprovalStatus"
                    },
                    "salable": {
                        "type": "boolean",
                        "description": "\u00dcr\u00fcn i\u00e7in teklif edece\u011finiz sat\u0131\u015f durumu bilgisidir.",
                        "nullable": true
                    },
                    "salableApprovalStatus": {
                        "$ref": "#/components/schemas/ApprovalStatus"
                    },
                    "salableRejectionReason": {
                        "type": "string",
                        "description": "\u00dcr\u00fcn i\u00e7in teklifinizin red nedenidir.",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "ListingUpdateRequestSearchResponse": {
                "type": "object",
                "properties": {
                    "totalCount": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "rows": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ListingUpdateRequestSummaryResponse"
                        },
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "ListingUpdateRequestSearchResponseApiResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/ListingUpdateRequestSearchResponse"
                    },
                    "message": {
                        "type": "string",
                        "nullable": true
                    },
                    "errorCode": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "ListingUpdateRequestSummaryResponse": {
                "type": "object",
                "properties": {
                    "requestId": {
                        "type": "string",
                        "description": "Teklif id",
                        "format": "uuid"
                    },
                    "createdDateTime": {
                        "type": "string",
                        "description": "Teklif tarihi, yyyy-MM-dd format\u0131nda",
                        "format": "date-time"
                    },
                    "operationSource": {
                        "type": "string",
                        "description": "\u0130\u015flem kayna\u011f\u0131. Alabilece\u011fi de\u011ferler (Api, Portal)",
                        "nullable": true
                    },
                    "rowCount": {
                        "type": "integer",
                        "description": "Teklifteki \u00fcr\u00fcn adedi",
                        "format": "int32"
                    }
                },
                "additionalProperties": false
            },
            "OpenPurchaseOrderResponse": {
                "type": "object",
                "properties": {
                    "totalCount": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "rows": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/OpenPurchaseOrderResponseItem"
                        },
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "OpenPurchaseOrderResponseApiResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/OpenPurchaseOrderResponse"
                    },
                    "message": {
                        "type": "string",
                        "nullable": true
                    },
                    "errorCode": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "OpenPurchaseOrderResponseItem": {
                "type": "object",
                "properties": {
                    "purchaseOrderNumber": {
                        "type": "string",
                        "description": "SAS no",
                        "nullable": true
                    },
                    "lineNumber": {
                        "type": "integer",
                        "description": "Kalem no",
                        "format": "int32"
                    },
                    "sku": {
                        "type": "string",
                        "description": "Sku",
                        "nullable": true
                    },
                    "warehouseCode": {
                        "type": "string",
                        "description": "Depo kodu",
                        "nullable": true
                    },
                    "warehouseName": {
                        "type": "string",
                        "description": "Depo Ad\u0131",
                        "nullable": true
                    },
                    "createdDate": {
                        "type": "string",
                        "description": "SAS olu\u015fturma tarihi, yyyy-MM-dd format\u0131nda",
                        "format": "date-time",
                        "nullable": true
                    },
                    "dueDate": {
                        "type": "string",
                        "description": "SAS kalemindeki \u00fcr\u00fcnlerin depoya teslim edilmesi beklenen son tarihtir.",
                        "nullable": true
                    },
                    "remainingQuantity": {
                        "type": "integer",
                        "description": "Sevk edilecek maksimum adet",
                        "format": "int32",
                        "nullable": true
                    },
                    "receivedQuantity": {
                        "type": "integer",
                        "description": "Mal giri\u015f adedi",
                        "format": "int32",
                        "nullable": true
                    },
                    "issuedQuantity": {
                        "type": "integer",
                        "description": "Mal \u00e7\u0131k\u0131\u015f adedi",
                        "format": "int32",
                        "nullable": true
                    },
                    "description": {
                        "type": "string",
                        "description": "\u00dcr\u00fcn bilgisi",
                        "nullable": true
                    },
                    "currencyCode": {
                        "type": "string",
                        "description": "Para birimi. Alabilece\u011fi de\u011ferler (TRY,USD,EUR)",
                        "nullable": true
                    },
                    "purchaseOrderUnitPrice": {
                        "type": "number",
                        "description": "Birim fiyat",
                        "format": "double",
                        "nullable": true
                    },
                    "purchaseOrderTotalPrice": {
                        "type": "number",
                        "description": "Toplam fiyat",
                        "format": "double",
                        "nullable": true
                    },
                    "definitionName": {
                        "type": "string",
                        "description": "\u00dcr\u00fcn tipi",
                        "nullable": true
                    },
                    "brand": {
                        "type": "string",
                        "description": "Marka",
                        "nullable": true
                    },
                    "vatRate": {
                        "type": "number",
                        "description": "KDV",
                        "format": "double",
                        "nullable": true
                    },
                    "barcode": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "\u00dcr\u00fcn barkodlar\u0131",
                        "nullable": true
                    },
                    "originalLineQuantity": {
                        "type": "integer",
                        "description": "A\u00e7\u0131lan SAS adedi",
                        "format": "int32",
                        "nullable": true
                    },
                    "shipmentListCreatedQuantity": {
                        "type": "integer",
                        "description": "Sevkiyat olu\u015fturulan adet",
                        "format": "int32",
                        "nullable": true
                    },
                    "buyingCategoryId": {
                        "type": "string",
                        "description": "Kategori id",
                        "nullable": true
                    },
                    "buyingCategoryName": {
                        "type": "string",
                        "description": "Kategori ad\u0131",
                        "nullable": true
                    },
                    "inProgressPurchaseOrdersOperation": {
                        "type": "boolean",
                        "description": "Devam eden SAS i\u015flemi olup olmad\u0131\u011f\u0131n\u0131n g\u00f6stergesi",
                        "nullable": true
                    },
                    "operationStatus": {
                        "$ref": "#/components/schemas/OpenPurchaseOrderResponseStatus"
                    },
                    "purchaseOrderType": {
                        "type": "string",
                        "description": "SAS tipi, Alabilece\u011fi de\u011ferler (ConsignmentPurchaseOrder, StandardPurchaseOrder, StandardPurchaseOrder)",
                        "nullable": true
                    },
                    "merchantSku": {
                        "type": "string",
                        "description": "Tedarik\u00e7i stok kodu",
                        "nullable": true
                    },
                    "warehouseGateId": {
                        "type": "string",
                        "description": "Depo giri\u015f kap\u0131s\u0131 bilgisidir.",
                        "format": "uuid",
                        "nullable": true
                    },
                    "isPostdated": {
                        "type": "boolean",
                        "description": "Beklenen tarihin daha \u00f6nce ertelenip ertelenmedi\u011finin g\u00f6stergesi",
                        "nullable": true
                    },
                    "isSent": {
                        "type": "boolean",
                        "description": "G\u00f6nderildi olarak i\u015faretlenip i\u015faretlenmedi\u011finin g\u00f6stergesi"
                    }
                },
                "additionalProperties": false
            },
            "OpenPurchaseOrderResponseStatus": {
                "enum": [
                    "Actionable",
                    "Pending",
                    "DraftShipment"
                ],
                "type": "string"
            },
            "OpenPurchaseOrderSearchQuery": {
                "type": "object",
                "properties": {
                    "dueDateStart": {
                        "type": "string",
                        "description": "Beklenen tarih ba\u015flang\u0131c\u0131 filtresi. 'yyyy-MM-dd' format\u0131nda. Zorunlu de\u011fildir.",
                        "nullable": true
                    },
                    "dueDateEnd": {
                        "type": "string",
                        "description": "Beklenen tarih biti\u015fi filtresi. 'yyyy-MM-dd' format\u0131nda. Zorunlu de\u011fildir.",
                        "nullable": true
                    },
                    "createdDateStart": {
                        "type": "string",
                        "description": "SAS olu\u015fturma tarihi ba\u015flang\u0131c\u0131 filtresi. 'yyyy-MM-dd' format\u0131nda. Zorunlu de\u011fildir.",
                        "nullable": true
                    },
                    "createdDateEnd": {
                        "type": "string",
                        "description": "SAS olu\u015fturma tarihi biti\u015fi filtresi. 'yyyy-MM-dd' format\u0131nda. Zorunlu de\u011fildir.",
                        "nullable": true
                    },
                    "skus": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "Sku filtresi. Zorunlu de\u011fildir.",
                        "nullable": true
                    },
                    "brands": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "Marka filtresi. Zorunlu de\u011fildir.",
                        "nullable": true
                    },
                    "buyingCategories": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "Kategori filtresi. Zorunlu de\u011fildir.",
                        "nullable": true
                    },
                    "purchaseOrderTypes": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "SAS tipi filtresi. Zorunlu de\u011fildir. Alabilece\u011fi de\u011ferler (ConsignmentPurchaseOrder, StandardPurchaseOrder, StandardPurchaseOrder)",
                        "nullable": true
                    },
                    "warehouseGateIds": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "Depo giri\u015f kap\u0131 bilgisidir. Zorunlu de\u011fildir.",
                        "nullable": true
                    },
                    "purchaseOrderLines": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PurchaseOrderLine"
                        },
                        "nullable": true
                    },
                    "inProgressPurchaseOrdersOperation": {
                        "type": "boolean",
                        "description": "inProgressPurchaseOrdersOperation",
                        "nullable": true
                    },
                    "isSent": {
                        "type": "boolean",
                        "description": "G\u00f6nderildi olarak i\u015faretlenip i\u015faretlenmedi\u011finin g\u00f6stergesi",
                        "nullable": true
                    },
                    "searchText": {
                        "type": "string",
                        "nullable": true
                    },
                    "sortField": {
                        "type": "string",
                        "nullable": true
                    },
                    "sortDirection": {
                        "type": "string",
                        "nullable": true
                    },
                    "limit": {
                        "type": "integer",
                        "description": "Listelenecek maksimum kay\u0131t adedi. Minimum 0, maksimum 1000 olabilir. Zorunlu de\u011fildir",
                        "format": "int32"
                    },
                    "offset": {
                        "type": "integer",
                        "description": "Listelenecek kay\u0131tlar\u0131n ba\u015flang\u0131\u00e7 indeksi. Minimum 0 olabilir. Zorunlu de\u011fildir, null g\u00f6nderildi\u011finde 0 kullan\u0131l\u0131r.",
                        "format": "int32"
                    }
                },
                "additionalProperties": false
            },
            "PurchaseOrderLine": {
                "type": "object",
                "properties": {
                    "purchaseOrderNumber": {
                        "type": "string",
                        "description": "Sat\u0131n alma sipari\u015f numaras\u0131d\u0131r.",
                        "nullable": true
                    },
                    "lineNumber": {
                        "type": "integer",
                        "description": "Sat\u0131n alma sipari\u015f numaras\u0131na ait kalem numaras\u0131d\u0131r.",
                        "format": "int32"
                    }
                },
                "additionalProperties": false
            },
            "SupplierListingItem": {
                "type": "object",
                "properties": {
                    "sku": {
                        "type": "string",
                        "description": "Sku",
                        "nullable": true
                    },
                    "merchantSku": {
                        "type": "string",
                        "description": "Tedarik\u00e7i stok kodu",
                        "nullable": true
                    },
                    "price": {
                        "type": "number",
                        "description": "Fiyat",
                        "format": "double",
                        "nullable": true
                    },
                    "currencyCode": {
                        "type": "string",
                        "description": "Para birimi. Alabilece\u011fi de\u011ferler (TRY, USD, EUR)",
                        "nullable": true
                    },
                    "lastPurchasePriceUpdateDate": {
                        "type": "string",
                        "description": "Fiyat de\u011fi\u015fiklik tarihi, yyyy-MM-dd format\u0131nda",
                        "format": "date-time",
                        "nullable": true
                    },
                    "stock": {
                        "type": "integer",
                        "description": "Stok",
                        "format": "int32",
                        "nullable": true
                    },
                    "unitPerPackage": {
                        "type": "integer",
                        "description": "\u00dcr\u00fcne ait koli i\u00e7i adet bilgisidir.",
                        "format": "int32",
                        "nullable": true
                    },
                    "status": {
                        "$ref": "#/components/schemas/ListingStatus"
                    },
                    "listingType": {
                        "$ref": "#/components/schemas/ListingType"
                    }
                },
                "additionalProperties": false
            },
            "SupplierListingsResponse": {
                "type": "object",
                "properties": {
                    "totalCount": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "rows": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SupplierListingItem"
                        },
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "SupplierListingsResponseApiResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/SupplierListingsResponse"
                    },
                    "message": {
                        "type": "string",
                        "nullable": true
                    },
                    "errorCode": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            }
        },
        "securitySchemes": {
            "basic": {
                "type": "http",
                "description": "Basic Authorization",
                "scheme": "basic"
            }
        }
    },
    "security": [
        {
            "basic": []
        }
    ]
}
